   p, span {
   			font-family: 'Sofia Sans', sans-serif;
			color: darkviolet	;
			width: 300px;
		}

		h1 {
			font-family: 'Sofia Sans', sans-serif;
			color: grey;
			width: 300px;
		}

		/**
		esto es un comentario dentro de un documento css
		*/

		/**		
		h1 {
			border: 1px solid black;
			font-weight: bold;
			color:  grey;
			
			margin: 30px;
			
			margin-top: 40px;
			margin-bottom: 20px;
			margin-left: 10px;
			margin-right: 10px;
			
			padding: 5px;
			
			padding-top: 20px;
			padding-bottom: 15px;
			padding-left: 20px;
			padding-left: 20px;
			
			
			otra forma es poner padding: y los valores px de top bottom left rigt;
			
			padding: 20px 15px 20px 20px;
			
		}
		*/

		section {
			width: 300px;
			border: 15px solid green;
			padding: 50px;
			margin: 20px;
		}

		#mi_párrafo {
			color: blueviolet;
			font-size: 23px;
			border: 1px solid orange;
		}

		.estaesmiclase {
			font-weight: bold;
			color: blueviolet;

		}

		section h1 {
			font-weight: 100;
			color: darkblue;


		}